<div ng-controller="ActionBar" class="mdl-layout__header-row mdl-layout__header">
  <!-- Title -->
  <span class="mdl-layout-title">Filters</span>
  <!-- Add spacer, to align navigation to the right -->
  <!-- Navigation. We hide it in small screens. -->
  <nav class="mdl-navigation" style="position: relative; left: 20px;">
    <div class="form-group">
      <input type="text" id="search" name="search">
        <label class="control-label" for="search">Search</label>
      </input>
      <i class="bar"></i>
    </div>
    <div class="form-group">
      <select class="form-control" ng-model="currentCol" ng-options="column for column in columnNames">
        <option value="currentCol">{{currentCol}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" ng-model="currentSort" ng-options="sort for sort in sortNames" ng-change="sortSelect()">
        <option value="currentSort">{{currentSort}}</option>
      </select>
    </div>

 </nav>
</div>