<div ng-controller="ActionBar" class="mdl-layout__header-row mdl-layout__header">
  <span class="mdl-layout-title">Filters</span>
  <nav class="mdl-navigation" style="position: relative; left: 20px;">
    <div class="form-group">
      <!--updates search filter on keystroke (ngchange)-->
      <input ng-model="searchTerm" type="text" id="search" name="search" ng-change="search()">
        <label class="control-label" for="search">Search</label>
      </input>
      <i class="bar"></i>
    </div>
      <!--updates drop down filters on select (ngchange) -->
    <div class="form-group">
      <select class="form-control" ng-model="currentCol" ng-options="column for column in columnNames" ng-change="sortSelect()">
        <option value="currentCol">{{currentCol}}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" ng-model="currentSort" ng-options="sort for sort in sortNames" ng-change="sortSelect()">
        <option value="currentSort">{{currentSort}}</option>
      </select>
    </div>

 </nav>
</div>