<style>
  #breadcrumbs {
    position: relative;
    top: -4px;
  }
</style>
<div id="breadcrumbs" class="mdl-layout__header-row mdl-layout__header" ng-controller="BreadCrumbs">
    <span class="mdl-layout-title">Crumbs</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">{{dbname}}</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">input</i></a>
      <a class="mdl-navigation__link" href="">TableName</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">input</i></a>
      <a class="mdl-navigation__link" href="">RowID</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">input</i></a>
      <a class="mdl-navigation__link" href="">ColumnName</a>
    </nav>
  </div>