              <div class="mdl-layout__header-row mdl-layout__header">
                  <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">DBName</a>
                    <a class="mdl-navigation__link" href=""><i class="material-icons">input</i></a>
                    <a class="mdl-navigation__link" href="">TableName</a>
                    <a class="mdl-navigation__link" href=""><i class="material-icons">input</i></a>
                    <a class="mdl-navigation__link" href="">RowID</a>
                    <a class="mdl-navigation__link" href=""><i class="material-icons">input</i></a>
                    <a class="mdl-navigation__link" href="">ColumnName</a>
                 </nav>
                </div>