    <header class="mdl-layout__header" ng-controller="dbConnectController">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title left">GooeyDB</span>
        <div class="mdl-layout-spacer"></div>
        <form ng-submit='serverConnect(data.username, data.password, data.url, data.dbname)'>
          <nav class="mdl-navigation">
            <div class="form-group">
                <input type="text" id="username" name="username" ng-model="data.username" value="data.username">
                  <label class="control-label" for="username">Username</label>
                </input>
                <i class="bar"></i>
              </div>
              <div class="form-group">
                <input type="text" id="password" name="password"  ng-model="data.password" value="data.password">
                  <label class="control-label" for="password">Password</label>
                </input>
                <i class="bar"></i>
              </div>
              <div class="form-group">
                <input type="text" id="url" name="url" ng-model="data.url" value="data.url">
                  <label class="control-label" for="url">URL</label>
                </input>
                <i class="bar"></i>
              </div>
              <div class="form-group">
                <input type="text" id="url" name="dbname" ng-model="data.dbname" value="data.dbname">
                  <label class="control-label" for="dbname">DB Name</label>
                </input>
                <i class="bar"></i>
              </div>
              <div class="form-group">
                <button type="submit" id="connectSubmit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                  Connect to new database
                </button>
              </div>
          </nav>
        </form>
      </div>
    </header>