<div ng-controller="HomeController"> 
  <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th ng-repeat='col in columnNames' style="text-align: left">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='row in rows'>
        <td ng-repeat='col in columnNames' style="text-align: left">{{row[col]}}</td>
      </tr>
      <tr>
        <td ng-repeat='col in columnNames' style="text-align: left"><input ng-model="record[col]" type="text" placeholder="col"></input></td>
      </tr>
    </tbody>
    <tr>
      <td>
        <button ng-click="addRecord()">PRESS ME!</button>
      </td>
    </tr>
  </table>
</div>