<div ng-controller="HomeController"> 
  <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <!--construct table headers with column names-->
    <thead>
      <tr>
        <td><i class="material-icons" id="headerIcon">dns</i></td>
        <th ng-repeat='col in columnNames' style="text-align: left; font-size: 14px">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <!--create record row with inputs tied to column names-->
      <form>
        <tr>
          <td>
            <a href="" ng-click="addRecord()" id="addRecord"><i class="material-icons">add</i></a>
            <div class="mdl-tooltip" data-mdl-for="addRecord">
              Create new record
            </div>
          </td>
          <td ng-repeat='col in columnNames' style="text-align: left">
            <input ng-model="newRecord.data[col]" type="text" placeholder={{col}}></input>
          </td>
        </tr>
      </form>
      <!--display records with right columns. double ng-repeat. add filters-->
      <!--delete not implemented-->
      <tr ng-repeat='(key,row) in rows | orderBy:colSortName:sortName | filter:searchTerm'>
        <td>
          <a href="" id="deleteRecord"><i class="material-icons">delete</i></a>
          <div class="mdl-tooltip" data-mdl-for="deleteRecord">
            Delete this record (this can't be undone!)
          </div>
        </td>
        <td ng-repeat='col in columnNames track by $index' style="text-align: left">
          {{row[col]}}
          <span ng-switch="enrichment[key][$index]['type']">
            <span ng-switch-when="image"><img src="{{enrichment[key][$index]['resource']}}"/></span>
            <span ng-switch-when="map"><a href="{{enrichment[key][$index]['resource']}}" target="_map"><img class="google-map" src="assets/google-maps-icon.png"/></a></span>
            <span ng-switch-when="youtube">Hello
              <!--<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="356" height="200" type="text/html" ng-src="{{enrichment[key][$index]['resource']}}?autoplay=0&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe> -->
            

              <iframe id="ytplayer" type="text/html" width="640" height="360" ng-src="ytlink{{key}}{{$index}}" frameborder="0"></iframe>


            </span>
            
          </span>
       </td>
      </tr>
    </tbody>
  </table>
</div>