    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title left">GooeyDB</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <div class="form-group">
            <input type="text" id="username">
              <label class="control-label" for="username">Username</label>
            </input>
            <i class="bar"></i>
          </div>
          <div class="form-group">
            <input type="text" id="password">
              <label class="control-label" for="password">Password</label>
            </input>
            <i class="bar"></i>
          </div>
          <div class="form-group">
            <input type="text" id="url">
              <label class="control-label" for="url">URL</label>
            </input>
            <i class="bar"></i>
          </div>
          <div class="form-group">
            <input type="text" id="dbname">
              <label class="control-label" for="dbname">DB Name</label>
            </input>
            <i class="bar"></i>
          </div>
        </nav>
      </div>
    </header>