<div ng-controller="tableSelector" class="demo-card-event mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h4>Table Selector
      <ul>
        <li ng-click="getTable(tableObj[table])" ng-repeat="table in tableObj">{{tableObj[table]}}
        </li>
      </ul>
    </h4>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a ng-model="tableName" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Create New Table
    </a>
    <div class="mdl-layout-spacer"></div>
    <!--<i class="material-icons">database</i>-->
  </div>
</div>