@import url(http://fonts.googleapis.com/css?family=Roboto);
.page-content {
  margin-top: 80px;
  margin-bottom: 50px; }

#container {
  background-color: #81D4FA; }
  #container #menu {
    background-color: #607D8B;
    height: 55px; }
  #container #app #left-panel {
    background-color: #1DE9B6; }
    #container #app #left-panel #db-selector {
      height: 100px;
      background-color: limegreen; }
    #container #app #left-panel #table-actions {
      background-color: red;
      height: 150px; }
  #container #app #content-panel #action-bar {
    height: 50px;
    background-color: lightblue; }
  #container #app #content-panel #search-filter {
    height: 50px;
    background-color: magenta; }

#connectSubmit {
  position: relative;
  bottom: 5px;
  background-color: #32ab9f;
  color: #FFF; }

#tableButton {
  position: relative;
  bottom: 5px;
  margin-bottom: 15px;
  background-color: #32ab9f;
  color: #FFF; }

#addRecord {
  color: #000; }

#addRecord:hover {
  color: #009688; }

#deleteRecord {
  color: #000; }

#deleteRecord:hover {
  color: darkred; }

#headerIcon {
  position: relative;
  left: 6px;
  top: 5px; }

#content-display {
  z-index: 3;
  max-height: 60vh;
  overflow: scroll; }

.demo-card-event.mdl-card {
  width: 256px;
  background: #009688; }

.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2); }

.demo-card-event > .mdl-card__title {
  align-items: flex-start; }

.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0; }

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center; }

.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px; }

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff; }

body,
input,
select,
textarea,
body * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }
  body::after, body::before,
  input::after,
  input::before,
  select::after,
  select::before,
  textarea::after,
  textarea::before,
  body *::after,
  body *::before {
    box-sizing: border-box; }

body {
  background-image: linear-gradient(top, #f2f2f2, #e6e6e6); }

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 2em; }

.container {
  position: relative;
  max-width: 40rem;
  margin: 5rem auto;
  background: #fff;
  width: 100%;
  padding: 3rem 5rem 0;
  border-radius: 1px; }
  .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    transition: transform 0.28s ease-in-out;
    z-index: -1; }
  .container:hover::before {
    transform: scale(1); }

.button-container {
  text-align: center; }

fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none; }

.form-radio,
.form-group {
  position: relative;
  top: 4px;
  padding: 0px 10px 0px 10px; }

.form-inline > .form-group,
.form-inline > .btn {
  display: inline-block;
  margin-bottom: 0; }

.form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: white;
  font-size: 0.8rem; }
  .checkbox .form-help,
  .form-radio .form-help,
  .form-group .form-help {
    position: absolute;
    width: 100%; }
  .checkbox .form-help {
    position: relative;
    margin-bottom: 1rem; }
  .form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem; }

.form-group input {
  height: 1.9rem; }

.form-group textarea {
  resize: none; }

.form-group select {
  min-width: 190px;
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  line-height: 1.6;
  box-shadow: none; }

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding: 0px 10px 0px 10px;
  z-index: 1;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.28s ease; }

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #FFF;
  display: block; }
  .form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2; }

.form-group input,
.form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.28s ease;
  box-shadow: none; }

.form-group input[type="file"] {
  line-height: 1; }
  .form-group input[type="file"] ~ .bar {
    display: none; }

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
  color: #FFF; }
  .form-group select ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group input:valid ~ .control-label,
  .form-group input.form-file ~ .control-label,
  .form-group input.has-value ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea:valid ~ .control-label,
  .form-group textarea.form-file ~ .control-label,
  .form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: #e6e6e6;
    top: -1rem;
    left: 0; }

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
  outline: none; }
  .form-group select:focus ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group textarea:focus ~ .control-label {
    color: #337ab7; }
  .form-group select:focus ~ .bar::before,
  .form-group input:focus ~ .bar::before,
  .form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0; }

.checkbox label,
.form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #FFF;
  display: block; }

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0; }

.radio {
  margin-bottom: 1rem; }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    user-select: none;
    color: #FFF; }
    .radio .helper::before, .radio .helper::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 0.25rem;
      width: 1rem;
      height: 1rem;
      transition: transform 0.28s ease;
      border-radius: 50%;
      border: 0.125rem solid currentColor; }
    .radio .helper::after {
      transform: scale(0);
      background-color: #337ab7;
      border-color: #337ab7; }
  .radio label:hover .helper {
    color: #337ab7; }
  .radio input:checked ~ .helper::after {
    transform: scale(0.5); }
  .radio input:checked ~ .helper::before {
    color: #337ab7; }

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem; }
  .checkbox .helper {
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    transition: border-color 0.28s ease; }
    .checkbox .helper::before, .checkbox .helper::after {
      position: absolute;
      height: 0;
      width: 0.2rem;
      background-color: #337ab7;
      display: block;
      transform-origin: left top;
      border-radius: 0.25rem;
      content: '';
      transition: opacity 0.28s ease, height 0s linear 0.28s;
      opacity: 0; }
    .checkbox .helper::before {
      top: 0.65rem;
      left: 0.38rem;
      transform: rotate(-135deg);
      box-shadow: 0 0 0 0.0625rem #fff; }
    .checkbox .helper::after {
      top: 0.3rem;
      left: 0;
      transform: rotate(-45deg); }
  .checkbox label:hover .helper {
    color: #337ab7; }
  .checkbox input:checked ~ .helper {
    color: #337ab7; }
    .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
      opacity: 1;
      transition: height 0.28s ease; }
    .checkbox input:checked ~ .helper::after {
      height: 0.5rem; }
    .checkbox input:checked ~ .helper::before {
      height: 1.2rem;
      transition-delay: 0.28s; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem; }

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
  color: #d9534f; }

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
  color: #d9534f; }

.has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%; }

.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #4f93ce;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .button span {
    color: #fff;
    position: relative;
    z-index: 1; }
  .button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0); }
  .button:hover {
    color: #337ab7;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
  .button:active::before, .button:focus::before {
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0; }
  .button:focus {
    outline: none; }

a img.google-map, a img.facebook {
 {
  width: 40px;
  height: 40px; }
